* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    width:100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #777;
    background: url("../images/background-cement-concrete-242236.jpg");
    
}

.tab {
   
    font-weight: bold;
    font-size: 24px;
    background-color: #4aaaa5;
    color: #fff;
    float:right;
    padding: 15px 25px 15px 25px;
    
 }

 .navStyle {
    padding: .5rem 1rem 0rem 1rem;
      
 }

 .navBarRight {
    display: flex;
    flex-direction: row-reverse;
}


 .navStyle a {
     color: #777;
    
 }

 .clearfix::after {
    display: block;
    content: "";
    clear: both;  
}

.content {
    background: white;
    width: 80%;
    margin: 100px;
    line-height: 24px;
    height: 80%;
    text-align: left;
    float: right;
    z-index: 1;

}

.content p {
    padding: 10px;
    margin: 10px;
}

.aboutPic {
    float: left;
    margin-left: 10px;
    margin-right: 10px !important;
    margin-top: 10px;
    max-height: 300px;
    max-width: 200px;
}


.portfolioPic {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 1;
   
}

.portfolioLabel {
    background-color: #4aaaa5;
    color: #fff;
    position: relative;
    width: 200px;
    text-align: center;
    z-index: 10;
    top: -70px;
    left: 91px;
    
}


footer div {
    text-align: center;
    background: #666666;
    line-height: 1.5;
    height: 50px;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
    border-top-style: solid;
    margin: 0;
    padding-top: 10px;
    width: 100%;
}


.heading {
    color: #4aaaa5;
    border-color: #777;
    border-width: .01rem;
}

@media screen and (max-width: 640px){
    .aboutMe {
        display: flex;
        flex-direction: column;
    }

    .aboutPic {

        max-width: 100%;
    }
}

@media screen and (max-width: 780px){
    .navStyle {
        justify-items: flex-end;
    }

    .portfolioLabel {
      left: 48px;
    }
}

@media screen and (max-width: 980px){
    .navStyle {
        justify-items: flex-end;
    }

    .portfolioLabel {
      left: 48px;
    }
}